.bio {
    padding: 100px;
    background: rgb(106,110,149);
    background: linear-gradient(90deg, rgba(106,110,149,1) 0%, rgba(12,23,79,1) 43%, rgba(0,12,52,1) 100%);
    width: 100%;
    color: whitesmoke;

}

.details {
    margin-left: 50px;
}

.picture {
    border-radius: 35%;
}

.about {
    margin-top: 10px;
    float: left;
}
