.bio {
    padding: 100px;
    background: rgb(3,57,106,1);
    background: linear-gradient(90deg, rgba(3,57,106,1) 0%, rgba(18,176,200) 100%);
    width: 100%;
}

.details {
    margin-left: 50px;
}

.picture {
    border-radius: 30%;
}