

.cartoonImage {
    width: 100%;
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    max-width: 400px;
}

.cartoonOut {
    opacity: 0;
}

.intro {
    background-image: url('../../images/background.png'); 
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px
}
